<html>
  <head>
    <title>
      Contacts
    </title>
  </head>
  <body>
    <h1>Contacts list</h1>
    <p>
      This is blog contacts list:
    </p>
<ul>
  <h2>My contacts :
    <br>Telegram : @deGoose
    <br>Phone number : + 380 73 40 85 189
    </h2>
    </ul>
  </body>
</html>
